* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0ec;
    font-family: sans-serif;
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    background: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
        5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
        inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 28px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
}

button {
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
        5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equal {
    width: 115px;
    border-radius: 38px;
}
